#This file contains Enviornment Variable for the project 
#Note: This is just an example file, you need to create two file .env_development and .env_production and add the following variables in it.
#This Project used dotenv-flow package which chooses variables depending on the environment.

# General Variables 
ENV= (development/production)
PORT= (Port Number)
SERVER_URL= (Server URL on which the project is running) 
FRONTEND_URL= (Frontend URL)

# JWT Variables
JWT_SECRET= (JWT Secret Key)

# Database Variables
DATABASE_URL= (Database URL)

#Email Configuration 
EMAIL= (Email Address)
EMAIL_PASSWORD= (Email APP Password)